.wrapper
	.sidebar(data-color='green')
			.sidebar-wrapper
				.logo
					a.simple-text
						img(src='img/logo.png' width=' 140px;')
				ul.nav
					li.active
						a.menu-toggle(ui-sref='dashboard.questions')
							p Perguntas
					li.active
						a.menu-toggle(ui-sref='dashboard.leaderboards')
							p Placar
					li.active
						a.menu-toggle(ui-sref='dashboard.statistics')
							p Estatísticas
					li.active
						a.menu-toggle(ui-sref='dashboard.promotions')
							p Promoções
					li.active
						a.menu-toggle(ui-sref='dashboard.admins' )
							p Administradores

		.main-panel
			nav.navbar.navbar-default.navbar-fixed
				.container-fluid
					.navbar-header
						.nav.navbar-nav.navbar-right.hidden-md.hidden-lg(style='float: right;padding-right: 20px;padding-top: 15px;')
								a(href='javascript:void(0)' ng-click='vm.showModal()')
									| Log out
						button.pull-left.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href='javascript:void(0)' ng-click='vm.showModal()')
									| Log out
			.content(ui-view='menuContent')
