.row
	.form-group
		label Nome
		input.form-control(
			value='',
			required="",
			type='text',
			name='displayName',
			ng-maxlength="200",
			ng-disabled='vm.disabled',
			placeholder='Nome Completo',
			ng-model='vm.admin.displayName',
			ng-class="adminform.displayName.$invalid && adminform.displayName.$touched ? 'has-error' : ''"
		)
		
		div(ng-messages='adminform.displayName.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='adminform.displayName.$invalid && adminform.displayName.$touched || adminform.displayName.$invalid && adminform.$submitted') Campo obrigatório

	.form-group
		label Matricula
		input.form-control(
			name='userName',
			type='text',
			placeholder='Nome Completo',
		  value='',
			ng-model='vm.admin.username',
			ng-disabled='vm.disabled',
			ng-maxlength="200",
			required="",
			ng-class="adminform.userName.$invalid && adminform.userName.$touched ? 'has-error' : ''"
		)
		
		div(ng-messages='adminform.userName.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='adminform.userName.$invalid && adminform.userName.$touched || adminform.userName.$invalid && adminform.$submitted') Campo obrigatório

	button.btn.btn-success.btn-fill.pull-right.btn-form(type='submit' ng-if='!vm.disabled') Salvar
	button.btn.btn-mutted.btn-fill.pull-right.btn-form(ui-sref='dashboard.admins') Voltar
