.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Novo Adiministrador
          .content
            form(unsaved-warning-form  novalidate name="adminform" ng-submit='vm.save(adminform,vm.admin)')
              div(ng-include="'js/components/admins/views/_form.html'")
