.content( ng-init="vm.loadAll()")
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Listagem de Administradores
					.content.table-responsive.table-full-width

					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.adminsCreate') Novo Administrador

						form.form-inline
							.form-group
								label Filtro Geral
								input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='search.$')

					table.table.table-hover.table-striped
						thead
							th(align='center')
								a(ng-click="vm.sort.type = 'displayName'; vm.sort.reverse = !vm.sort.reverse") Nome
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'displayName' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'displayName' && vm.sort.reverse")

							th(align='center') Ações

						tbody
							tr(dir-paginate="item in vm.adminList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index")
								td {{item.displayName}}

								td(aling='center')
									button.btn.btn-default(type='button', ui-sref='dashboard.adminsShow({ id: item._id.$oid, admin : item, index: $index})')
										span.glyphicon.glyphicon-eye-open(aria-hidden='true' )
									button.btn.btn-default(type='button', mw-confirm-click="vm.destroy(item)")
										span.glyphicon.glyphicon-trash(aria-hidden='true')


					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.adminsCreate') Novo Administrador
						.clearfix
					dir-pagination-controls(max-size='5')
