.content(ng-init='vm.loadAdmin(); vm.disabled = true')
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title {{vm.admin.displayName}}
					.content
						form
							div(ng-include="'js/components/admins/views/_form.html'")
