
<div class="row">
  <div class="form-group">
    <label>Data de início</label>
    <datepicker date-format="dd-MM-yyyy">
      <input required="" name="startDate" ng-disabled="vm.disabled" ng-model="vm.bonus.startDate" ng-class="bonusform.startDate.$invalid &amp;&amp; bonusform.startDate.$touched ? 'has-error' : ''" class="form-control"/>
    </datepicker>
    <div ng-messages="bonusform.startDate.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="bonusform.startDate.$invalid &amp;&amp; bonusform.startDate.$touched || bonusform.startDate.$invalid &amp;&amp; bonusform.$submitted">Campo obrigatório</div>
    </div>
  </div><br/><br/>
  <div class="form-group">
    <label>Data de Término</label>
    <datepicker date-format="dd-MM-yyyy">
      <input required="" name="endDate" ng-model="vm.bonus.endDate" ng-disabled="vm.disabled" ng-class="bonusform.endDate.$invalid &amp;&amp; bonusform.endDate.$touched ? 'has-error' : ''" class="form-control"/>
      <div ng-messages="bonusform.endDate.$error" style="color:red" role="alert">
        <div ng-message="required" ng-show="bonusform.endDate.$invalid &amp;&amp; bonusform.endDate.$touched || bonusform.endDate.$invalid &amp;&amp; bonusform.$submitted">Campo obrigatório</div>
      </div>
    </datepicker>
  </div><br/><br/>
  <div class="form-group">
    <label>Título</label>
    <textarea rows="4" name="title" cols="50" type="text" placeholder="Titulo" value="" ng-model="vm.bonus.title" ng-disabled="vm.disabled" ng-maxlength="200" required="" ng-class="bonusform.title.$invalid &amp;&amp; bonusform.title.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.bonus.title.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.bonus.title.length}}</span>
    <div ng-messages="bonusform.title.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="bonusform.title.$invalid &amp;&amp; bonusform.title.$touched || bonusform.title.$invalid &amp;&amp; bonusform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <textarea rows="4" name="description" cols="50" type="text" placeholder="Descição" value="" ng-model="vm.bonus.description" ng-disabled="vm.disabled" ng-maxlength="200" required="" ng-class="bonusform.description.$invalid &amp;&amp; bonusform.description.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.bonus.description.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.bonus.description.length}}</span>
    <div ng-messages="bonusform.description.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="bonusform.description.$invalid &amp;&amp; bonusform.description.$touched || bonusform.description.$invalid &amp;&amp; bonusform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Valor do Bônus (em porcentagem)</label>
    <div class="input-group">
      <input type="number" ng-model="vm.bonus.bonus" ng-disabled="vm.disabled" required="" name="bonus" ng-class="bonusform.bonus.$invalid &amp;&amp; bonusform.bonus.$touched ? 'has-error' : ''" class="form-control"/><span class="input-group-addon">%</span>
    </div>
    <div ng-messages="bonusform.bonus.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="bonusform.bonus.$invalid &amp;&amp; bonusform.bonus.$touched || bonusform.bonus.$invalid &amp;&amp; bonusform.$submitted">Campo obrigatório</div>
    </div>
  </div>
</div>
<button type="submit" ng-if="!vm.disabled" class="btn btn-success btn-fill pull-right btn-form">Salvar</button>
<button ui-sref="dashboard.promotions" class="btn btn-mutted btn-fill pull-right btn-form">Voltar</button>
<div class="clearfix"></div>