
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Nova promoção</h4>
          </div>
          <div class="content">
            <form unsaved-warning-form="unsaved-warning-form" novalidate="novalidate" name="bonusform" ng-submit="vm.save(bonusform,vm.bonus)">
              <div ng-include="'js/components/promotions/views/_form.html'"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>