.content.statistics
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Estatísticas
						h5(class='pull-right') Média geral de pontuação: {{vm.averageQuestionValue | number:0}}
					.content.table-responsive.table-full-width

						table.table.table-hover.table-striped
							thead
								th(align='center')
									a(ng-click="vm.sort.type = 'name'; vm.sort.reverse = !vm.sort.reverse") Tema
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'name' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'name' && vm.sort.reverse")
								th(align='center')
									a(ng-click="vm.sort.type = 'numberQuestions'; vm.sort.reverse = !vm.sort.reverse") Número de questões
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'numberQuestions' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'numberQuestions' && vm.sort.reverse")
								th(align='center')
									a(ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse") Porcentagem de acerto
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'correctAnswersPercent' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'correctAnswersPercent' && vm.sort.reverse")
							tbody
								tr(dir-paginate="item in vm.themesMapped | orderBy:vm.sort.type:vm.sort.reverse  | itemsPerPage: 20 track by $index")
									td {{item.name || "*Sem nome"}}
									td {{item.numberQuestions | number:0}}
									td {{item.correctAnswersPercent | percentage:0}}

							.clearfix
						dir-pagination-controls(max-size='5')
