//colors
$red: red;
$color_gallery_approx: #eee;
$color_deep_sea_green_approx: #0a5f55;
$white: #fff;
$black_30: rgba(0, 0, 0, 0.3);
$color_cape_cod_approx: #404040;
$color_green_haze_approx: #00995d;
$color_mercury_approx: #e3e3e3;
$color_chicago_approx: #565656;
$color_alto_approx: #ddd;
$gray: grey;
$white_20: rgba(255, 255, 255, 0.2);
$color_tiara_approx: #c4cbcf;
$color_green_haze_50_approx: rgba(0, 153, 93, 0.5);
$color_celeste_approx: #ccc; //@extend-elements
//original selectors
//.form-signin #inputEmail, .form-signin #inputPassword

.block_label {
  display: block;
}

.extend_1 {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}
//original selectors
//.form-signin button, .form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text]

.extend_2 {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
}
//original selectors
//.pagination >li >a, .pagination >li >span

.extend_3 {
	float: left;
	padding: 10px 20px;
	margin-left: -1px;
	margin-top: -20px;
	line-height: 1.42857143;
	color: $color_green_haze_approx;
	text-decoration: none;
	background-color: $white;
	border: 1px solid $color_alto_approx;
}
//original selectors
//.loader, .loader:after

.extend_4 {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.main-panel {
	background: $color_gallery_approx;
}

.login-view {
	height: 100vh;
	background-color: $color_deep_sea_green_approx;

	img {
		display: block;
		margin: 50px auto;
		max-width: 300px;
	}

	.card-container.card {
		max-width: 350px;
		padding: 40px;
	}
}

.btn-form {
	margin: 5px;
}

.card {
	background-color: $white;
	padding: 20px 25px 30px;
	margin: 50px auto 25px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px $black_30;
}

.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: $color_cape_cod_approx;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}

.form-signin {
	#inputEmail {
		@extend .extend_1;
	}

	#inputPassword {
		@extend .extend_1;
	}

	button {
		@extend .extend_2;
	}

	input[type=email] {
		@extend .extend_2;
	}

	input[type=password] {
		@extend .extend_2;
	}

	input[type=text] {
		@extend .extend_2;
	}
}

.btn-signin {
	background-color: $color_green_haze_approx;
	color: $white;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	border: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.218s;

	:hover {
		color: $white;
	}

	&:active {
		color: $white;
		background-color: $color_green_haze_approx;
	}

	&:focus {
		color: $white;
		background-color: $color_green_haze_approx;
	}

	&:hover {
		color: $white;
		background-color: $color_green_haze_approx;
	}
}

.forgot-password {
	color: $color_green_haze_approx;

	&:active {
		color: $color_green_haze_approx;
	}

	&:focus {
		color: $color_green_haze_approx;
	}

	&:hover {
		color: $color_green_haze_approx;
	}
}

.selectpicker {
	display: block;
	width: 100%;
	height: 40px;
	background-color: $white;
	border: 1px solid $color_mercury_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	color: $color_chicago_approx;
	padding: 8px 12px;
}

.buttons {
	margin-top: 30px;
	margin-bottom: -30px;
}

.search {
	float: right;
	width: 300px;
	background-color: $white;
	border: 1px solid $color_mercury_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	color: $color_chicago_approx;
	padding: 8px 12px;
	height: 40px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
}

.pagination {
	> li {
		> a {
			@extend .extend_3;
		}

		> span {
			@extend .extend_3;
		}
	}

	.active a {
		background: $color_green_haze_approx !important;
		border-color: $color_green_haze_approx !important;
	}
}

.sidebar-wrapper {
	background: $color_deep_sea_green_approx;
}

.question-name {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.loading_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: $gray;
	opacity: 0.8;
}

.loader {
	font-size: 10px;
	border-top: 1.1em solid $white_20;
	border-right: 1.1em solid $white_20;
	border-bottom: 1.1em solid $white_20;
	border-left: 1.1em solid $white;
	animation: load8 1.1s infinite linear;
	position: absolute;
	top: 30%;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	margin-left: -32px;
	margin-top: -32px;
	@extend .extend_4;

	&:after {
		@extend .extend_4;
	}
}
@-webkit-keyframes load8 {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
	}

	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
	}

	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}

._720kb-datepicker-calendar {
	max-width: 21%;
}

.statistics {
	.stats-icon {
		font-size: 3em;
		min-height: 64px;
		text-align: center;
	}

	.card {
		.content {
			padding: 15px 15px 10px;
		}

		.numbers {
			font-size: 2em;
			text-align: right;

			p {
				margin: 0;
				line-height: 1.4em;
				font-size: 14px;
			}
		}
	}
}

.count-info {
	font-size: 12px;
	color: $gray;
}

.btn-mutted {
	background-color: $color_tiara_approx;
}

.popeye-modal-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	overflow-y: auto;
	background-color: $color_green_haze_50_approx;
	text-align: center;
}

.input-group-addon {
	background-color: $color_celeste_approx !important;
	border: 1px solid $color_celeste_approx !important;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
}

.logo img {
	width: 230px;
	margin-top: -10px;
	margin-bottom: -10PX;
}

.mselect .btn {
	border: 1px solid $color_mercury_approx;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
	background: $color_green_haze_approx !important;
}

.has-error {
	border: 1px solid red !important;
}

form.ng-submitted {
	input.ng-invalid,
	select.ng-invalid,
	textarea.ng-invalid {
		border: 1px solid red !important;
	}
}

.sidebar:after,
body > .navbar-collapse:after {
	background: $color_deep_sea_green_approx;
	background: -moz-linear-gradient(top, $color_deep_sea_green_approx 0%, $color_deep_sea_green_approx 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color_deep_sea_green_approx), color-stop(100%, $color_deep_sea_green_approx));
	background: -webkit-linear-gradient(top, $color_deep_sea_green_approx 0%, $color_deep_sea_green_approx 100%);
	background: -o-linear-gradient(top, $color_deep_sea_green_approx 0%, $color_deep_sea_green_approx 100%);
	background: -ms-linear-gradient(top, $color_deep_sea_green_approx 0%, $color_deep_sea_green_approx 100%);
	background: linear-gradient(to bottom, $color_deep_sea_green_approx 0%, $color_deep_sea_green_approx 100%);
	background-size: 150% 150%;
	z-index: 3;
	opacity: 1;
}

.navbar-collapse {
	.sidebar .nav p {
		margin: 0;
		line-height: 30px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
    font-weight: bold;
	}

	li.active > a {
		color: #FFFFFF;
		opacity: 1;
		background: rgba(255, 255, 255, 0.23);
    border-radius: 4px;
    margin: 5px 15px;
    padding: 15px 15px !important;
	}
}
