
.row
	.form-group
		label Data de início
		datepicker(date-format="dd-MM-yyyy")
			input.form-control(
				required="",
				name='startDate',
				ng-disabled='vm.disabled'
				ng-model='vm.bonus.startDate',
				ng-class="bonusform.startDate.$invalid && bonusform.startDate.$touched ? 'has-error' : ''"
		)
		
		div(ng-messages='bonusform.startDate.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='bonusform.startDate.$invalid && bonusform.startDate.$touched || bonusform.startDate.$invalid && bonusform.$submitted') Campo obrigatório
	br
	br
	
	.form-group
		label Data de Término
		datepicker(date-format="dd-MM-yyyy")
			input.form-control(
				required="",
				name="endDate"
				ng-model='vm.bonus.endDate',
				ng-disabled='vm.disabled',
				ng-class="bonusform.endDate.$invalid && bonusform.endDate.$touched ? 'has-error' : ''"
			)
			
			div(ng-messages='bonusform.endDate.$error', style='color:red', role='alert')
				div(ng-message='required' ng-show='bonusform.endDate.$invalid && bonusform.endDate.$touched || bonusform.endDate.$invalid && bonusform.$submitted') Campo obrigatório
	br
	br
	
	.form-group
		label Título
		textarea.form-control(
			rows="4",
			name='title',
			cols="50",
			type='text',
			placeholder='Titulo',
			value='',
			ng-model='vm.bonus.title',
			ng-disabled='vm.disabled',
			ng-maxlength="200",
			required=""
			ng-class="bonusform.title.$invalid && bonusform.title.$touched ? 'has-error' : ''"
		)

		span.count-info(ng-show="vm.bonus.title.length <= 200") Caracteres restantes {{200 - vm.bonus.title.length}}
		div(ng-messages='bonusform.title.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required', ng-show='bonusform.title.$invalid && bonusform.title.$touched || bonusform.title.$invalid && bonusform.$submitted') Campo obrigatório

	.form-group
		label Descrição
		textarea.form-control(
			rows="4",
			name='description',
			cols="50",
			type='text',
			placeholder='Descição',
			value='',
			ng-model='vm.bonus.description',
			ng-disabled='vm.disabled',
			ng-maxlength="200"
			required=""
			ng-class="bonusform.description.$invalid && bonusform.description.$touched ? 'has-error' : ''"
			)
		span.count-info(ng-show="vm.bonus.description.length <= 200") Caracteres restantes {{200 - vm.bonus.description.length}}
		div(ng-messages='bonusform.description.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required', ng-show='bonusform.description.$invalid && bonusform.description.$touched || bonusform.description.$invalid && bonusform.$submitted') Campo obrigatório
	
	.form-group
		label Valor do Bônus (em porcentagem)
		.input-group
			input.form-control(
				type='number',
				ng-model='vm.bonus.bonus',
				ng-disabled='vm.disabled',
				required="",
				name='bonus',
				ng-class="bonusform.bonus.$invalid && bonusform.bonus.$touched ? 'has-error' : ''"
			)
			span.input-group-addon %
		div(ng-messages='bonusform.bonus.$error', style='color:red', role='alert')
				div(ng-message='required', ng-show='bonusform.bonus.$invalid && bonusform.bonus.$touched || bonusform.bonus.$invalid && bonusform.$submitted') Campo obrigatório
			
	
button.btn.btn-success.btn-fill.pull-right.btn-form(type='submit' ng-if='!vm.disabled') Salvar
button.btn.btn-mutted.btn-fill.pull-right.btn-form(ui-sref='dashboard.promotions') Voltar
.clearfix
