.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Nova promoção
          .content
            form(unsaved-warning-form, novalidate, name="bonusform", ng-submit='vm.save(bonusform,vm.bonus)')
              div(ng-include="'js/components/promotions/views/_form.html'")
