.content( ng-init="vm.loadAll()")
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Listagem de Promoções
					.content.table-responsive.table-full-width

					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.promotionsCreate') Nova Promoção

						form.form-inline
							.form-group
								label Filtro Geral
								input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='search.$')

					table.table.table-hover.table-striped
						thead
							th(align='center')
								a(ng-click="vm.sort.type = 'title'; vm.sort.reverse = !vm.sort.reverse") Título
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'title' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'title' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'startDates._d'; vm.sort.reverse = !vm.sort.reverse") Início
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'startDates._d' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'startDates._d' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'endDates._d'; vm.sort.reverse = !vm.sort.reverse") Término
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'endDates._d' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'endDates._d' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'bonus'; vm.sort.reverse = !vm.sort.reverse") Valor do Bônus
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'bonus' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'bonus' && vm.sort.reverse")

							th(align='center') Ações

						tbody
							tr(dir-paginate="item in vm.bonusList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index")
								td {{item.title}}
								td {{item.startDates._d | date:"dd/MM/yyyy"}}
								td {{item.endDates._d | date:"dd/MM/yyyy"}}
								td {{item.bonus}}%

								td(aling='center')
									button.btn.btn-default(type='button', ui-sref='dashboard.promotionsShow({ id: item._id.$oid, promotion : item, index: $index})')
										span.glyphicon.glyphicon-eye-open(aria-hidden='true' )
									button.btn.btn-default(type='button', ui-sref='dashboard.promotionsEdit({ id: item._id.$oid, promotion : item, index: $index})')
										span.glyphicon.glyphicon-pencil(aria-hidden='true')
									button.btn.btn-default(type='button', mw-confirm-click="vm.destroy(item)")
										span.glyphicon.glyphicon-trash(aria-hidden='true')


					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.promotionsCreate') Nova Promoção
						.clearfix
					dir-pagination-controls(max-size='5')
