.content(ng-init='vm.loadBonus(); vm.disabled = true')
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title {{vm.bonus.title}}
					.content
						form
							div(ng-include="'js/components/promotions/views/_form.html'")
