.modal-header
  h3 Logout
.modal-body
  p tem certeza que deseja sair do sistema ?
.modal-footer
  a.btn.btn-fill(ng-click='$close()') Cancelar
  a.btn.btn-fill.btn-success(ng-click='vm.logout()') Sair
