.modal(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', aria-label='Close', ng-click='$hide()')
          span(aria-hidden='true') &times;
        |         
        h4.modal-title(ng-bind='title')
      |       
      .modal-body
        | Confirm Navigation
      |       
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$hide()') Close
        |         
        button.btn.btn-default(type='button', ng-click='confirm()') Confirm
