
<div class="wrapper">
  <div data-color="green" class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo"><a class="simple-text"><img src="img/logo.png" width=" 140px;"/></a></div>
      <ul class="nav">
        <li class="active"><a ui-sref="dashboard.questions" class="menu-toggle">
            <p>Perguntas</p></a></li>
        <li class="active"><a ui-sref="dashboard.leaderboards" class="menu-toggle">
            <p>Placar</p></a></li>
        <li class="active"><a ui-sref="dashboard.statistics" class="menu-toggle">
            <p>Estatísticas</p></a></li>
        <li class="active"><a ui-sref="dashboard.promotions" class="menu-toggle">
            <p>Promoções</p></a></li>
        <li class="active"><a ui-sref="dashboard.admins" class="menu-toggle">
            <p>Administradores</p></a></li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <div style="float: right;padding-right: 20px;padding-top: 15px;" class="nav navbar-nav navbar-right hidden-md hidden-lg"><a href="javascript:void(0)" ng-click="vm.showModal()">Log out</a></div>
          <button type="button" data-toggle="collapse" data-target="#navigation-example-2" class="pull-left navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" ng-click="vm.showModal()">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div ui-view="menuContent" class="content"></div>
  </div>
</div>