
<div class="modal-header">
  <h3>Logout</h3>
</div>
<div class="modal-body">
  <p>tem certeza que deseja sair do sistema ?</p>
</div>
<div class="modal-footer"><a ng-click="$close()" class="btn btn-fill">Cancelar</a><a ng-click="vm.logout()" class="btn btn-fill btn-success">Sair</a></div>