
<div tabindex="-1" role="dialog" aria-hidden="true" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div ng-show="title" class="modal-header">
        <button type="button" aria-label="Close" ng-click="$hide()" class="close"><span aria-hidden="true">&times;</span></button>        
        <h4 ng-bind="title" class="modal-title"></h4>
      </div>      
      <div class="modal-body">Confirm Navigation</div>      
      <div class="modal-footer">
        <button type="button" ng-click="$hide()" class="btn btn-default">Close</button>        
        <button type="button" ng-click="confirm()" class="btn btn-default">Confirm</button>
      </div>
    </div>
  </div>
</div>