.row
	.form-group
		label Data*
		datepicker(date-format="dd-MM-yyyy")
			input.form-control(
			required,
			name='date',
			ng-disabled='vm.disabled'
			ng-model='vm.question.date',
			ng-class="questionsform.date.$invalid && questionsform.date.$touched ? 'has-error' : ''"
		)
		div(ng-messages='questionsform.date.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='questionsform.date.$invalid && questionsform.date.$touched || questionsform.date.$invalid && questionsform.$submitted') Campo obrigatório
	br
	br
	.form-group
		label Introdução
		textarea.form-control(
				rows="4",
				value='',
				ng-maxlength="200"
				name='introduction',
				cols="50",type='text',
				placeholder='Pergunta',
				ng-disabled='vm.disabled'
				ng-model='vm.question.introduction',
		)
		span.count-info(ng-show="vm.question.introduction.length <= 200") Caracteres restantes {{200 - vm.question.introduction.length}}
		div(ng-messages='questionsform.introduction.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required' ng-show='questionsform.introduction.$invalid && questionsform.introduction.$touched || questionsform.introduction.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Pergunta*
		textarea.form-control(
			rows="4",
			cols="50",
			value='',
			required="",
			type='text',
			name='question',
			ng-maxlength="200",
			placeholder='Pergunta',
			ng-disabled='vm.disabled',
			ng-model='vm.question.text',
			ng-class="questionsform.question.$invalid && questionsform.question.$touched ? 'has-error' : ''"
		)

		span.count-info(ng-show="vm.question.text.length <= 200") Caracteres restantes {{200 - vm.question.text.length}}
		div(ng-messages='questionsform.question.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required' ng-show='questionsform.question.$invalid && questionsform.question.$touched || questionsform.question.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Item a*
		textarea.form-control(
			rows="4",
			cols="50",
			value='',
			type='text',
			required="",
			name='itemA',
			ng-maxlength="200"
			ng-disabled='vm.disabled',
			placeholder='resposta item a ',
			ng-model='vm.question.choices[0].resposta',
			ng-class="questionsform.itemA.$invalid && questionsform.itemA.$touched ? 'has-error' : ''"
		)

		span.count-info(ng-show="vm.question.choices[0].resposta.length <= 200") Caracteres restantes {{200 - vm.question.choices[0].resposta.length}}
		div(ng-messages='questionsform.itemA.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required' ng-show='questionsform.itemA.$invalid && questionsform.itemA.$touched || questionsform.itemA.$invalid && questionsform.$submitted') Campo obrigatório


	.form-group
		label Item b*
		textarea.form-control(
			rows="4",
			value='',
			cols="50",
			type='text',
			name='itemB',
			ng-disabled='vm.disabled',
			required="" ng-maxlength="200",
			placeholder='resposta item b',
			ng-model='vm.question.choices[1].resposta',
			ng-class="questionsform.itemB.$invalid && questionsform.itemB.$touched ? 'has-error' : ''"
		)

		span.count-info(ng-show="vm.question.choices[1].resposta.length <= 200") Caracteres restantes {{200 - vm.question.choices[1].resposta.length}}
		div(ng-messages='questionsform.itemB.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required' ng-show='questionsform.itemB.$invalid && questionsform.itemB.$touched || questionsform.itemB.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Item c*
		textarea.form-control(
			rows="4",
			value='',
			cols="50",
			type='text',
			required="",
			name='itemC',
			ng-maxlength="200"
			ng-disabled='vm.disabled',
			placeholder='resposta item c ',
			ng-model='vm.question.choices[2].resposta',
			ng-class="questionsform.itemC.$invalid && questionsform.itemC.$touched ? 'has-error' : ''"
		)

		span.count-info(ng-show="vm.question.choices[2].resposta.length <= 200") Caracteres restantes {{200 - vm.question.choices[2].resposta.length}}
		div(ng-messages='questionsform.itemC.$error', style='color:red', role='alert')
			div(ng-message='maxlength') Tamanho máximo 200 caracteres
			div(ng-message='required' ng-show='questionsform.itemC.$invalid && questionsform.itemC.$touched || questionsform.itemC.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Resposta Correta*
		select.form-control(
			required="",
			name='answer',
			ng-disabled='vm.disabled',
			ng-model='vm.question.answer',
			ng-options='option.item as option.item for option in vm.question.choices',
			ng-class="questionsform.answer.$invalid && questionsform.answer.$touched ? 'has-error' : ''"
		)
			option(value='') Selecione uma resposta

		div(ng-messages='questionsform.answer.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='questionsform.answer.$invalid && questionsform.answer.$touched || questionsform.answer.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Tema*
		select.form-control(
			required="",
			name='theme',
			ng-disabled='vm.disabled',
			ng-model='vm.question.theme',
			ng-options='option.name as option.name for option in vm.localQuestion.themes',
			ng-class="questionsform.theme.$invalid && questionsform.theme.$touched ? 'has-error' : ''"
		)
			option(value='') Selecione um Tema

		div(ng-messages='questionsform.theme.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='questionsform.theme.$invalid && questionsform.theme.$touched || questionsform.theme.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Personagem*
		select.form-control(
			required="",
			name='character',
			ng-disabled='vm.disabled',
			ng-model='vm.question.character',
			ng-options='option.name as option.name for option in vm.localQuestion.characters',
			ng-class="questionsform.character.$invalid && questionsform.character.$touched ? 'has-error' : ''"
		)
			option(value='') Selecione um Personagem

		div(ng-messages='questionsform.character.$error', style='color:red', role='alert')
			div(ng-message='required' ng-show='questionsform.character.$invalid && questionsform.character.$touched || questionsform.character.$invalid && questionsform.$submitted') Campo obrigatório

	.form-group
		label Local*
		select.form-control(
			required="",
			name='cenarios'
			ng-disabled='vm.disabled',
			ng-model='vm.question.place',
			ng-options='option.name as option.name for option in vm.localQuestion.cenarios',
			ng-class="questionsform.cenarios.$invalid && questionsform.cenarios.$touched ? 'has-error' : ''"
		)
			option(value='') Selecione um Local

		div(
				ng-messages='questionsform.cenarios.$error',
				style='color:red',
				role='alert'
			)
			div(
				ng-message='required',
				ng-show='questionsform.cenarios.$invalid && questionsform.cenarios.$touched || questionsform.cenarios.$invalid && questionsform.$submitted'
			) Campo obrigatório

	.form-group
		label(for='exampleSelect1') Tags
		tags-input(ng-model='vm.question.tags' ng-disabled='vm.disabled')

button.btn.btn-success.btn-fill.pull-right.btn-form(type='submit'  ng-click="submitted= true;" ng-if='!vm.disabled') Salvar
button.btn.btn-mutted.btn-fill.pull-right.btn-form(ui-sref='dashboard.questions') Voltar
.clearfix
