.content(ng-init='vm.initLocalObjects()')
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Nova Pergunta
          .content
            form(unsaved-warning-form, novalidate, name="questionsform", ng-submit='vm.save(questionsform,vm.question)')
              div(ng-include="'js/components/questions/views/_form.html'")
