.content(ng-init='vm.loadQuestion()')
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Editar Pergunta
          .content
            form(unsaved-warning-form, novalidate, name="questionsform" ng-submit='vm.update(questionsform,vm.question)')
              div(ng-include="'js/components/questions/views/_form.html'")
