.content(ng-init='vm.loadAll()')
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Listagem de Perguntas
          .content
            .buttons(style='margin:10px 20px;')
              button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.questionsCreate') Nova Pergunta
            br
            br
            form.form-inline
              .form-group
                label.block_label Data inicial
                datepicker(date-format='dd-MM-yyyy')
                  input.form-control(name='date', ng-model='vm.date.start')
              .form-group
                label.block_label Data final
                datepicker(date-format='dd-MM-yyyy')
                  input.form-control(name='date', ng-model='vm.date.end')
              .form-group
                button.btn.btn-default(style='margin-top: 25px; margin-right: 150px', ng-click='vm.loadAll()')
                  span.fa.fa-search
              .form-group
                label.block_label Busca por Texto
                input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='vm.stringToFind')
                button.btn.btn-default(ng-click='vm.loadQuestionsWithString()')
                  span.fa.fa-search
            .table-responsive.table-full-width
              table.table.table-hover.table-striped
                thead
                  th.question-name(align='center')
                    a(ng-click="vm.sort.type = 'text'; vm.sort.reverse = !vm.sort.reverse")
                      | Nome
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'text' && !vm.sort.reverse")
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'text' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'mapDate._d'; vm.sort.reverse = !vm.sort.reverse")
                      | Data
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'mapDate._d' && !vm.sort.reverse")
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'mapDate._d' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse")
                      | Acertos
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'correctAnswersPercent' && !vm.sort.reverse")
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'correctAnswersPercent' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'theme'; vm.sort.reverse = !vm.sort.reverse")
                      | Tema
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'theme' && !vm.sort.reverse")
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'theme' && vm.sort.reverse")
                  th(align='center') Ações
                tbody
                  tr(dir-paginate='item in vm.mappedQuestions | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index')
                    td {{item.text}}
                    td {{item.mapDate._d| date:"dd/MM/yyyy"}}
                    td {{item.correctAnswersPercent | percentage:0 }}
                    td {{item.theme}}
                    td(aling='center')
                      button.btn.btn-default(type='button', ui-sref='dashboard.questionsShow({ id: item._id.$oid, question : item, index: $index})')
                        span.glyphicon.glyphicon-eye-open(aria-hidden='true')
                      button.btn.btn-default(type='button', ui-sref='dashboard.questionsEdit({ id: item._id.$oid, question : item, index: $index})')
                        span.glyphicon.glyphicon-pencil(aria-hidden='true')
                      button.btn.btn-default(type='button', mw-confirm-click='vm.destroy(item)')
                        span.glyphicon.glyphicon-trash(aria-hidden='true')
            .buttons(style='margin:10px 20px;')
              button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.questionsCreate') Nova Pergunta
              .clearfix
            dir-pagination-controls(max-size='5')
