.content(ng-init='vm.loadQuestion(); vm.disabled = true')
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title {{vm.question.text}}
					.content
						form
							div(ng-include="'js/components/questions/views/_form.html'")
