
<div class="content statistics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Estatísticas</h4>
            <h5 class="pull-right">Média geral de pontuação: {{vm.averageQuestionValue | number:0}}</h5>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th align="center"><a ng-click="vm.sort.type = 'name'; vm.sort.reverse = !vm.sort.reverse">Tema<span ng-show="vm.sort.type == 'name' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'name' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
                <th align="center"><a ng-click="vm.sort.type = 'numberQuestions'; vm.sort.reverse = !vm.sort.reverse">Número de questões<span ng-show="vm.sort.type == 'numberQuestions' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'numberQuestions' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
                <th align="center"><a ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse">Porcentagem de acerto<span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              </thead>
              <tbody>
                <tr dir-paginate="item in vm.themesMapped | orderBy:vm.sort.type:vm.sort.reverse  | itemsPerPage: 10 track by $index">
                  <td>{{item.name || "*Sem nome"}}</td>
                  <td>{{item.numberQuestions | number:0}}</td>
                  <td>{{item.correctAnswersPercent | percentage:0}}</td>
                </tr>
              </tbody>
              <div class="clearfix"></div>
            </table>
            <dir-pagination-controls max-size="5"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>