
<div class="row">
  <div class="form-group">
    <label>Data*</label>
    <datepicker date-format="dd-MM-yyyy">
      <input required="required" name="date" ng-disabled="vm.disabled" ng-model="vm.question.date" ng-class="questionsform.date.$invalid &amp;&amp; questionsform.date.$touched ? 'has-error' : ''" class="form-control"/>
    </datepicker>
    <div ng-messages="questionsform.date.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="questionsform.date.$invalid &amp;&amp; questionsform.date.$touched || questionsform.date.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div><br/><br/>
  <div class="form-group">
    <label>Introdução</label>
    <textarea rows="4" value="" ng-maxlength="200" name="introduction" cols="50" type="text" placeholder="Pergunta" ng-disabled="vm.disabled" ng-model="vm.question.introduction" class="form-control"></textarea><span ng-show="vm.question.introduction.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.question.introduction.length}}</span>
    <div ng-messages="questionsform.introduction.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="questionsform.introduction.$invalid &amp;&amp; questionsform.introduction.$touched || questionsform.introduction.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Pergunta*</label>
    <textarea rows="4" cols="50" value="" required="" type="text" name="question" ng-maxlength="200" placeholder="Pergunta" ng-disabled="vm.disabled" ng-model="vm.question.text" ng-class="questionsform.question.$invalid &amp;&amp; questionsform.question.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.question.text.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.question.text.length}}</span>
    <div ng-messages="questionsform.question.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="questionsform.question.$invalid &amp;&amp; questionsform.question.$touched || questionsform.question.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Item a*</label>
    <textarea rows="4" cols="50" value="" type="text" required="" name="itemA" ng-maxlength="200" ng-disabled="vm.disabled" placeholder="resposta item a " ng-model="vm.question.choices[0].resposta" ng-class="questionsform.itemA.$invalid &amp;&amp; questionsform.itemA.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.question.choices[0].resposta.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.question.choices[0].resposta.length}}</span>
    <div ng-messages="questionsform.itemA.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="questionsform.itemA.$invalid &amp;&amp; questionsform.itemA.$touched || questionsform.itemA.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Item b*</label>
    <textarea rows="4" value="" cols="50" type="text" name="itemB" ng-disabled="vm.disabled" required="" ng-maxlength="200" placeholder="resposta item b" ng-model="vm.question.choices[1].resposta" ng-class="questionsform.itemB.$invalid &amp;&amp; questionsform.itemB.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.question.choices[1].resposta.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.question.choices[1].resposta.length}}</span>
    <div ng-messages="questionsform.itemB.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="questionsform.itemB.$invalid &amp;&amp; questionsform.itemB.$touched || questionsform.itemB.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Item c*</label>
    <textarea rows="4" value="" cols="50" type="text" required="" name="itemC" ng-maxlength="200" ng-disabled="vm.disabled" placeholder="resposta item c " ng-model="vm.question.choices[2].resposta" ng-class="questionsform.itemC.$invalid &amp;&amp; questionsform.itemC.$touched ? 'has-error' : ''" class="form-control"></textarea><span ng-show="vm.question.choices[2].resposta.length &lt;= 200" class="count-info">Caracteres restantes {{200 - vm.question.choices[2].resposta.length}}</span>
    <div ng-messages="questionsform.itemC.$error" style="color:red" role="alert">
      <div ng-message="maxlength">Tamanho máximo 200 caracteres</div>
      <div ng-message="required" ng-show="questionsform.itemC.$invalid &amp;&amp; questionsform.itemC.$touched || questionsform.itemC.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Resposta Correta*</label>
    <select required="" name="answer" ng-disabled="vm.disabled" ng-model="vm.question.answer" ng-options="option.item as option.item for option in vm.question.choices" ng-class="questionsform.answer.$invalid &amp;&amp; questionsform.answer.$touched ? 'has-error' : ''" class="form-control">
      <option value="">Selecione uma resposta</option>
    </select>
    <div ng-messages="questionsform.answer.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="questionsform.answer.$invalid &amp;&amp; questionsform.answer.$touched || questionsform.answer.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Tema*</label>
    <select required="" name="theme" ng-disabled="vm.disabled" ng-model="vm.question.theme" ng-options="option.name as option.name for option in vm.localQuestion.themes" ng-class="questionsform.theme.$invalid &amp;&amp; questionsform.theme.$touched ? 'has-error' : ''" class="form-control">
      <option value="">Selecione um Tema</option>
    </select>
    <div ng-messages="questionsform.theme.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="questionsform.theme.$invalid &amp;&amp; questionsform.theme.$touched || questionsform.theme.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Personagem*</label>
    <select required="" name="character" ng-disabled="vm.disabled" ng-model="vm.question.character" ng-options="option.name as option.name for option in vm.localQuestion.characters" ng-class="questionsform.character.$invalid &amp;&amp; questionsform.character.$touched ? 'has-error' : ''" class="form-control">
      <option value="">Selecione um Personagem</option>
    </select>
    <div ng-messages="questionsform.character.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="questionsform.character.$invalid &amp;&amp; questionsform.character.$touched || questionsform.character.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Local*</label>
    <select required="" name="cenarios" ng-disabled="vm.disabled" ng-model="vm.question.place" ng-options="option.name as option.name for option in vm.localQuestion.cenarios" ng-class="questionsform.cenarios.$invalid &amp;&amp; questionsform.cenarios.$touched ? 'has-error' : ''" class="form-control">
      <option value="">Selecione um Local</option>
    </select>
    <div ng-messages="questionsform.cenarios.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="questionsform.cenarios.$invalid &amp;&amp; questionsform.cenarios.$touched || questionsform.cenarios.$invalid &amp;&amp; questionsform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Tags</label>
    <tags-input ng-model="vm.question.tags" ng-disabled="vm.disabled"></tags-input>
  </div>
</div>
<button type="submit" ng-click="submitted= true;" ng-if="!vm.disabled" class="btn btn-success btn-fill pull-right btn-form">Salvar</button>
<button ui-sref="dashboard.questions" class="btn btn-mutted btn-fill pull-right btn-form">Voltar</button>
<div class="clearfix"></div>