
<div ng-init="vm.loadQuestion()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Editar Pergunta</h4>
          </div>
          <div class="content">
            <form unsaved-warning-form="unsaved-warning-form" novalidate="novalidate" name="questionsform" ng-submit="vm.update(questionsform,vm.question)">
              <div ng-include="'js/components/questions/views/_form.html'"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>