
<div ng-init="vm.loadAll()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Listagem de Perguntas</h4>
          </div>
          <div class="content">
            <div style="margin:10px 20px;" class="buttons">
              <button ui-sref="dashboard.questionsCreate" class="btn btn-success btn-fill pull-right">Nova Pergunta</button>
            </div><br/><br/>
            <form class="form-inline">
              <div class="form-group">
                <label class="block_label">Data inicial</label>
                <datepicker date-format="dd-MM-yyyy">
                  <input name="date" ng-model="vm.date.start" class="form-control"/>
                </datepicker>
              </div>
              <div class="form-group">
                <label class="block_label">Data final</label>
                <datepicker date-format="dd-MM-yyyy">
                  <input name="date" ng-model="vm.date.end" class="form-control"/>
                </datepicker>
              </div>
              <div class="form-group">
                <button style="margin-top: 25px; margin-right: 150px" ng-click="vm.loadAll()" class="btn btn-default"><span class="fa fa-search"></span></button>
              </div>
              <div class="form-group">
                <label class="block_label">Busca por Texto</label>
                <input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="vm.stringToFind" class="form-control"/>
                <button ng-click="vm.loadQuestionsWithString()" class="btn btn-default"><span class="fa fa-search"></span></button>
              </div>
            </form>
            <div class="table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th align="center" class="question-name"><a ng-click="vm.sort.type = 'text'; vm.sort.reverse = !vm.sort.reverse">Nome<span ng-show="vm.sort.type == 'text' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-up"></span><span ng-show="vm.sort.type == 'text' &amp;&amp; vm.sort.reverse" class="fa fa-caret-down"></span></a></th>
                  <th align="center"><a ng-click="vm.sort.type = 'mapDate._d'; vm.sort.reverse = !vm.sort.reverse">Data<span ng-show="vm.sort.type == 'mapDate._d' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'mapDate._d' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
                  <th align="center"><a ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse">Acertos<span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
                  <th align="center"><a ng-click="vm.sort.type = 'theme'; vm.sort.reverse = !vm.sort.reverse">Tema<span ng-show="vm.sort.type == 'theme' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-up"></span><span ng-show="vm.sort.type == 'theme' &amp;&amp; vm.sort.reverse" class="fa fa-caret-down"></span></a></th>
                  <th align="center">Ações</th>
                </thead>
                <tbody>
                  <tr dir-paginate="item in vm.mappedQuestions | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:10  track by $index">
                    <td>{{item.text}}</td>
                    <td>{{item.mapDate._d| date:"dd/MM/yyyy"}}</td>
                    <td>{{item.correctAnswersPercent | percentage:0 }}</td>
                    <td>{{item.theme}}</td>
                    <td aling="center">
                      <button type="button" ui-sref="dashboard.questionsShow({ id: item._id.$oid, question : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></button>
                      <button type="button" ui-sref="dashboard.questionsEdit({ id: item._id.$oid, question : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                      <button type="button" mw-confirm-click="vm.destroy(item)" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="margin:10px 20px;" class="buttons">
              <button ui-sref="dashboard.questionsCreate" class="btn btn-success btn-fill pull-right">Nova Pergunta</button>
              <div class="clearfix"></div>
            </div>
            <dir-pagination-controls max-size="5"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>