doctype html
html(ng-app='unimed' class='' ng-init='loadData()')
	head
		title(ng-bind="'Jornada Unimed Admin -' +$state.current.data.pageTitle")
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="vendor/theme/animate.min.css")
		link(rel="stylesheet", type="text/css", href="vendor/theme/pe-icon-7-stroke.css")
		link(rel="stylesheet", type="text/css", href="vendor/theme/light-bootstrap-dashboard.css")
		link(rel='stylesheet', type="text/css", href='vendor/angularjs-datepicker/dist/angular-datepicker.min.css')
		link(rel="stylesheet", type="text/css", href="vendor/AngularJS-Toaster/toaster.min.css")
		link(rel="stylesheet", type="text/css", href="vendor/ng-tags-input/ng-tags-input.css")
		link(rel="stylesheet", type="text/css", href="vendor/ng-tags-input/ng-tags-input.bootstrap.css")
		link(rel="stylesheet", type="text/css", href="vendor/angular-popeye/release/popeye.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		//- Icons
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
	body
		.loading_container(ng-show='showLoading')
			.loader
		//- LOADING CONTAINNER
		//- NOTIFICATION CONTAINNER
		toaster-container(toaster-options="{'close-button': true, 'limit': 1,'time-out':4000}")
		//- put your content here
		div(ui-view)
		script(type='text/javascript', src='vendor/lodash/dist/lodash.js')
		script(type="text/javascript", src="vendor/jquery/dist/jquery.min.js")
		script(type='text/javascript', src="vendor/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript", src="vendor/theme/light-bootstrap-dashboard.js")
		script(type='text/javascript', src='vendor/moment/moment.js')
		script(type='text/javascript', src="vendor/angular/angular.min.js")
		script(type='text/javascript', src='vendor/angular-popeye/release/popeye.js')
		script(type='text/javascript', src="vendor/angular-messages/angular-messages.js")
		script(type='text/javascript', src='vendor//angular-i18n/angular-locale_pt-br.js')
		script(type='text/javascript', src='vendor/angularjs-datepicker/dist/angular-datepicker.min.js')
		script(type='text/javascript', src='vendor/angularUtils-pagination/dirPagination.js')
		script(type='text/javascript', src='vendor/angular-unsavedChanges/dist/unsavedChanges.js')
		script(type='text/javascript', src="vendor/ng-tags-input/ng-tags-input.js")
		script(type='text/javascript', src='vendor/angular-base64/angular-base64.js')
		script(type='text/javascript', src="vendor/angular-animate/angular-animate.js")
		script(type='text/javascript', src="vendor/angular-ui-router/release/angular-ui-router.min.js")
		script(type='text/javascript', src="vendor/AngularJS-Toaster/toaster.min.js")
		script(type='text/javascript', src='vendor/angular-ui-date/dist/date.js')
		script(type="text/javascript", src="js/app.js")
