
<div ng-init="vm.loadAll()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Placar</h4>
          </div>
          <div class="content table-responsive table-full-width"></div>
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Filtro Nome</label>
              <input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="search.$" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="exampleInputName2">Filtrar Pontuação</label>
              <input id="exampleInputName2" type="text" ng-model="search.score" class="form-control"/>
            </div>
          </form>
          <table class="table table-hover table-striped">
            <thead>
              <th align="center"><a ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse">Colocação<span ng-show="vm.sort.type == 'rank' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'rank' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center" class="question-name"><a ng-click="vm.sort.type = 'userName'; vm.sort.reverse = !vm.sort.reverse">Nome<span ng-show="vm.sort.type == 'userName' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'userName' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse">Pontuação<span ng-show="vm.sort.type == 'rank' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'rank' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'role'; vm.sort.reverse = !vm.sort.reverse">Cargo Jornada<span ng-show="vm.sort.type == 'role' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'role' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'occupation'; vm.sort.reverse = !vm.sort.reverse">Ocupação<span ng-show="vm.sort.type == 'occupation' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'occupation' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
            </thead>
            <tbody>
              <tr dir-paginate="item in vm.leaderboards | orderBy:vm.sort.type:vm.sort.reverse  | filter:search | itemsPerPage: 10 track by $index">
                <td>{{item.rank}}º</td>
                <td>{{item.userName || "*Sem nome"}}</td>
                <td>{{item.score}}</td>
                <td>{{item.role}}</td>
                <td>{{item.occupation || "*Sem ocupação"}}</td>
              </tr>
            </tbody>
            <div class="clearfix"></div>
          </table>
          <dir-pagination-controls max-size="5"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>