.login-view
  .container
    img(src='img/logo.png' width='400' alt='logo')
    .card.card-container
      form.form-signin

        span#reauth-email.reauth-email
        input#inputEmail.form-control(type='text', placeholder='Usuário', required='true', autofocus='', ng-model='vm.user.name')
        input#inputPassword.form-control(type='password', placeholder='Senha', required='true',ng-model='vm.user.password')
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit', ng-click='vm.login(vm.user)') Entrar
      // /form
    // /card-container
  // /container
