
<div class="row">
  <div class="form-group">
    <label>Nome</label>
    <input value="" required="" type="text" name="displayName" ng-maxlength="200" ng-disabled="vm.disabled" placeholder="Nome Completo" ng-model="vm.admin.displayName" ng-class="adminform.displayName.$invalid &amp;&amp; adminform.displayName.$touched ? 'has-error' : ''" class="form-control"/>
    <div ng-messages="adminform.displayName.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="adminform.displayName.$invalid &amp;&amp; adminform.displayName.$touched || adminform.displayName.$invalid &amp;&amp; adminform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label>Matricula</label>
    <input name="userName" type="text" placeholder="Nome Completo" value="" ng-model="vm.admin.username" ng-disabled="vm.disabled" ng-maxlength="200" required="" ng-class="adminform.userName.$invalid &amp;&amp; adminform.userName.$touched ? 'has-error' : ''" class="form-control"/>
    <div ng-messages="adminform.userName.$error" style="color:red" role="alert">
      <div ng-message="required" ng-show="adminform.userName.$invalid &amp;&amp; adminform.userName.$touched || adminform.userName.$invalid &amp;&amp; adminform.$submitted">Campo obrigatório</div>
    </div>
  </div>
  <button type="submit" ng-if="!vm.disabled" class="btn btn-success btn-fill pull-right btn-form">Salvar</button>
  <button ui-sref="dashboard.admins" class="btn btn-mutted btn-fill pull-right btn-form">Voltar</button>
</div>